<h3>Calculator</h3>

<div>
  <div [class]="'calc-section'">
    <label style="font-weight: bold; width: 220px">Berekening</label>
    <form (ngSubmit)="onSubmit()">
      <input type="number" [(ngModel)]="inputOne" style="width: 160px" name="inputOne">
      <select [(ngModel)]="operation" name="opperation">
        <option [value]="'add'">+</option>
        <option [value]="'subtract'">-</option>
        <option [value]="'multiply'">*</option>
        <option [value]="'divide'">/</option>
      </select>
      <input type="number" [(ngModel)]="inputTwo" style="width: 160px" name="inputTwo">
      <br/>
      <input type="submit" value="Calculate">
    </form>
  </div>
  <div [class]="'calc-section'">
    <label style="font-weight: bold; width: 220px">Resultaat</label>
    <div *ngIf="result$ | async as result else errorResult">
      Calculation result from server: {{result.body}}
    </div>

    <ng-template #errorResult>
      <div [style]="{color: '#B71C1C'}" *ngIf="calculationError$ | async">
        Calculation could not be processed due to invalid input.
      </div>
    </ng-template>
  </div>
</div>
